<section id="featured">
	<!-- start slider -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <%= image_tag "1.jpg" %>
                <div class="flex-caption">
                    <h3>Global Marine Travel (GMT)</h3>
					<p>
In May 2010 K-Shipping Co.   acquired Global Marine Travel LLC and Interargo PH. Together we have rebranded Global Marine Travel and Interargo to become kSC GMT.
Our new partnership brings together the strong values of all three companies and will give us the ability to provide unmatched value added services to the maritime community such as a unique door-to-deck transportation service combined with airline ticketing and travel monitoring.</p>
					<a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
              <li>
                <%= image_tag "ser2.jpg" %>
                <div class="flex-caption">
                    <h3>Cargo Service Division</h3>
					<p>Operating from major ports and airports worldwide,
We are well versed in all concepts of the freight forwarding industry and offer a comprehensive range of services including:
International freight forwarding
Project forwarding
Warehousing and distribution
Cross stuffing
Relocation services
Value added services
</p>
					<a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
              <li>
                  <%= image_tag "ser4.jpg" %>
                <div class="flex-caption">
                    <h3>Clean & Fast Delivery</h3>
					<p>We offer a Clean and fast delivery network to our Cargos world wide.</p>
					<a href="#" class="btn btn-theme">Learn More</a>
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
			</div>
		</div>
	</div>



	</section>
	<section class="callaction">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="big-cta">
					<div class="cta-text">
						<h2><span>Please Login </span> to track your shipments <span><a href="" class="btn btn-theme btn-lg" >LOGIN</a></span></h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Crew Logistics Services</h4>
								<div class="icon">
								<%= fa_icon "desktop" %>
								</div>
								<p>
                    Crew Logistics Services is an outsourcing product designed to streamline and improve the crew transfer process.Today, SSC provides this service to more than 25 shipmanagers and owners, channelling all requirements through our 24/7 Vessel Supply Chain Hub which then coordinates with our dedicated and global network of husbandry agents to deliver a consistent level of care and attention to all crew throughout their transfer process.
								</p>

							</div>
							<div class="box-bottom">
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4> KSC World Movers</h4>
								<div class="icon">
								<%= fa_icon "Ship" %>
								</div>
								<p>
                    Worldwide Movers is a wholly owned subsidiary of Kelco Shipping Services, forming an integral part of its Cargo Division from six centres within the Middle East; Dubai, Abu Dhabi, Bahrain, Kuwait, Qatar and Oman. Our services embodies special cargo shipments
										travels to war zones and crisis areas worldwide to make our customers happy and be able to interact effectively with their loved ones

								</p>

							</div>
							<div class="box-bottom">
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>
                    <div class="col-lg-3">
                        <div class="box">
                            <div class="box-gray aligncenter">
                                <h4>Global Marine Transport</h4>
                                <div class="icon">
                                  <%= fa_icon "clock" %>
                                </div>
                                <p>
                   In May 2010 K-Shipping Co. acquired Global Marine Travel LLC and Interargo PH. Together we have rebranded Global Marine Travel and Interargo to become KSC GMT. We have succesful managment and control of shipments from both merged companies. to facilitae Transportation of goods.
                                </p>

                            </div>
                            <div class="box-bottom">
                                <a href="#">Learn more</a>
                            </div>
                        </div>
                    </div>
					<div class="col-lg-3">
						<div class="box">
							<div class="box-gray aligncenter">
								<h4>Cargo Service Division</h4>
								<div class="icon">
							<%= fa_icon "like" %>
								</div>
								<p>
      We are well versed in all concepts of the freight forwarding industry and offer a comprehensive range of services including:

								</p>

							</div>
							<div class="box-bottom">
								<a href="#">Learn more</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
		<!-- Portfolio Projects -->
		<div class="row">
			<div class="col-lg-12">
				<h4 class="heading">Services</h4>
				<div class="row">
					<section id="projects">
					<ul id="thumbs" class="portfolio">
						<!-- Item Project and Filter Name -->
						<li class="col-lg-3 design size" data-id="id-0" data-type="web">
						<div class="item-thumbs">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<%=link_to "ser1.jpg", class:"hover-wrap" do %>
						<%= image_tag "ser1.jpg", class: " fancybox", title: "Crew Logistics services", alt: "SSC’s Crew Logistics Services is an outsourcing product designed to streamline and improve the crew transfer process. Today, SSC provides this service to more than 25 shipmanagers and owners, channelling all requirements through our 24/7 Vessel Supply Chain Hub which then coordinates with our dedicated and global network of husbandry agents to deliver a consistent level of care and attention to all crew throughout their transfer process. In addition to the traditional outsourcing benefits such as efficiency gains and the ability to re-focus on core activities, our customers experience improved crew welfare, direct cost savings through standard fixed tariffs, improved risk management through our ISO accredited HSSE and QA procedures, greater visibility on crew movements, analytical management reports and predictable budget costs, all delivered through a single, dedicated Hub." do %>
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						<% end %>
       <% end %>
	<!-- Thumb Image and Description -->
   <%= image_tag "ser1.jpg", class: "img",  alt: "KSC’s Crew Logistics Services is an outsourcing product designed to streamline and improve the crew transfer process. Today, SSC provides this service to more than 25 shipmanagers and owners, channelling all requirements through our 24/7 Vessel Supply Chain Hub which then coordinates with our dedicated and global network of husbandry agents to deliver a consistent level of care and attention to all crew throughout their transfer process. In addition to the traditional outsourcing benefits such as efficiency gains and the ability to re-focus on core activities, our customers experience improved crew welfare, direct cost savings through standard fixed tariffs, improved risk management through our ISO accredited HSSE and QA procedures, greater visibility on crew movements, analytical management reports and predictable budget costs, all delivered through a single, dedicated Hub." %>



						</div>
						</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 design size" data-id="id-1" data-type="icon">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<%=link_to "ser2.jpg", class:"hover-wrap" do %>
						<%= image_tag "ser2.jpg", class: " fancybox", title: "Global Marine Transport", alt: "KSC Global Marine Travel (GMT)
In May 2010 Kelco Shipping Co.   acquired Global Marine Travel LLC and Interargo PH. Together we have rebranded Global Marine Travel and Interargo to become SSC GMT.
Our new partnership brings together the strong values of all three companies and will give us the ability to provide unmatched value added services to the maritime community such as a unique door-to-deck transportation service combined with airline ticketing and travel monitoring." do %>
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						<% end %>
			 <% end %>
	<!-- Thumb Image and Description -->
	 <%= image_tag "ser2.jpg", class: "img", alt: "KSC Global Marine Travel (GMT)
In May 2010 Kelco Shipping Co.   acquired Global Marine Travel LLC and Interargo PH. Together we have rebranded Global Marine Travel and Interargo to become SSC GMT.
Our new partnership brings together the strong values of all three companies and will give us the ability to provide unmatched value added services to the maritime community such as a unique door-to-deck transportation service combined with airline ticketing and travel monitoring." %>


							</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 photography size" data-id="id-2" data-type="illustrator">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<%=link_to "ser3.jpg", class:"hover-wrap" do %>
						<%= image_tag "ser3.jpg", class: " fancybox", title: "Global Marine Transport", alt: "Operating from major ports and airports worldwide, SSC Cargo Services offers value for money, maximum flexibility and consistency of service.
We are well versed in all concepts of the freight forwarding industry and offer a comprehensive range of services including:
International freight forwarding
Project forwarding
Warehousing and distribution
Cross stuffing
Relocation services
Value added services
We are constantly striving to improve on how we do business and communicate with our customers, in order to provide our local and international customers with services that far surpass those of our competitors." do %>
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						<% end %>
			 <% end %>
						<!-- Thumb Image and Description -->
						<%= image_tag "ser3.jpg", class: "img", alt: "Operating from major ports and airports worldwide, SSC Cargo Services offers value for money, maximum flexibility and consistency of service.
We are well versed in all concepts of the freight forwarding industry and offer a comprehensive range of services including:
International freight forwarding
Project forwarding
Warehousing and distribution
Cross stuffing
Relocation services
Value added services
We are constantly striving to improve on how we do business and communicate with our customers, in order to provide our local and international customers with services that far surpass those of our competitors." %>
							</li>
						<!-- End Item Project -->
						<!-- Item Project and Filter Name -->
						<li class="item-thumbs col-lg-3 photography size" data-id="id-2" data-type="illustrator">
						<!-- Fancybox - Gallery Enabled - Title - Full Image -->
						<%=link_to "ser4.jpg", class:"hover-wrap" do %>
						<%= image_tag "ser4.jpg", class: " fancybox", title: "Global Marine Transport", alt: "To reach the highest standards we depend on our people

1.Their welfare, training and expertise is core to our success.welfare, training
2.Our foundation for developing our people is securely anchored in health and safety policies.
3.We foster strong ethical values and a team spirit that rewards commitment loyalty and initiative.
4.We embrace respect for the environment.
5.We are committed to accountability, honesty and transparency." do %>
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						<% end %>
			 <% end %>
						<!-- Thumb Image and Description -->
						<%= image_tag "ser4.jpg", class: "img", alt: "To reach the highest standards we depend on our people

1.Their welfare, training and expertise is core to our success.welfare, training
2.Our foundation for developing our people is securely anchored in health and safety policies.
3.We foster strong ethical values and a team spirit that rewards commitment loyalty and initiative.
4.We embrace respect for the environment.
5.We are committed to accountability, honesty and transparency." %>
						</li>
						<!-- End Item Project -->
					</ul>
					</section>
				</div>
			</div>
		</div>

	</div>
	</section>
