<%= simple_form_for(@shipment, url: shipments_path, html: { class: 'form-horizontal' }) do |f| %>
<div class="col-lg-4">
<%= f.input :first_name, as: :string %>
<%= f.input :last_name, as: :string %>
<%= f.input :billing_address1, as: :string %>
<%= f.input :billing_address2, as: :string, placeholder: "Enter your Country here" %>
<%= f.input :postcode, as: :integer %>
<%= f.input :phone_number, as: :integer %>
<%= f.input :order_id, as: :integer, placeholder: "Enter order consignment number" %>
</div>
<div class="col-lg-6 col-md-offset-2">
<%= f.input :delivery_address_first_name, as: :string %>
<%= f.input :delivery_address_last_name, as: :string %>
<%= f.input :delivery_address, as: :string %>
<%= f.input :e_mail, placeholder: "please enter delivery email addres for contact" %>
<%= f.input :quntity, placeholder: "enter the weight of your shipment" %>
<%= f.input :tax, placeholder: "Minimum tax rate $25" %>
</div>
<div class="col-lg-6 col-md-offset-2">
<%= f.input :notes, as: :text, :row => 25, :cols => 16, placeholder: "Enter Note to your reciver" %>
<%= f.submit :submit, class: "btn btn-theme btn-lg" %>
</div>
<% end %>
