<div class="container-fluid">
<div class="row">
<div id="sidebar-collapse" class="col-sm-3 span4 sidebar">
  <form role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </form>
  <ul class="nav menu">
    <li ><%= link_to shipments_path do %>
       <svg class="glyph stroked dashboard-dial">
         <use xlink:href="#stroked-dashboard-dial">
         </use>
       </svg>
      Back To Your Shipments
       <% end %>
     </li>

    <li class="active"><a href="">
      <svg class="glyph stroked calendar">
        <use xlink:href="#stroked-calendar">
        </use>
      </svg>
       Track Shipment
     </a>
     </li>

    <li><%= link_to new_shipment_path(@shipment) do %>
            <svg class="glyph stroked pencil">
              <use xlink:href="#stroked-pencil">
              </use>
            </svg>
            Order Shipment
      <% end %>
    </li>


    <li><a href="panels.html"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Customer Care </a></li>
    <li><a href="icons.html"><svg class="glyph stroked star"><use xlink:href="#stroked-star"></use></svg> Profile</a></li>

  </ul>
</br >
</br>
</br >
</br ></br >
</br>
</br >
</br ></br >
</br>
</br >
</br ></br >
</br>
</br >
</br >
</div><!--/.sidebar-->
<div class="span8">

    <div class="panel panel-warning">
      <div class="panel-heading">
        Tracking
      </div>
      <div class="panel-body">
        <h4>Tracking order id:  <%=@shipment.order_id %></h4>
      </br>
      <div class="row-fluid">
        <div class="col-md-12">
          <table class="table table-bordered ">
            <thead class="well">
              <h4>Tracking Information </h4>
              <tr>
                <td class="text-center"> Date/Time </td>
                <td class="text-center">Status of item </td>
                <td class="text-center">Location of item </td>
              </tr>
            </thead>
</table>
</br>
</br>
      <%= render @shipment.comments %>
    </div>
  </div>
      </div>
    </div>

  </br>


  <%= render "comments/form" %>




</div>
</br>
</br >
</br ></br >
</br>
</br >
</br ></br >
</br>
</br >
</br >
</br>
</br >
</br ></br >
</br>
</br >
</br ></br >
</br>
</br >
</br ></br>
</br >
</br ></br >
</br>
</br >
</br ></br >
</br>
</br >
</br >
